<app-header [header]="header"></app-header>
<div class="container">
  <h1 class="title">Cerrar lote</h1>
  <form [formGroup]="lotForm" class="body">
    <ion-row>
      <ion-item>
        <ion-label position="floating">Refrigerador*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Selecione un refrigerador"
          formControlName="fridge"
          [disabled]="loading"
          (ionChange)="selectFridge()"
        >
          <ng-container *ngFor="let fridge of fridges">
            <ion-select-option [value]="fridge.fridge_id"
              >Temp: {{fridge.temp}}</ion-select-option
            >
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="fridge.errors">
        Por favor seleccione un refrigerador
      </ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Lote*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccione lote"
          formControlName="lot"
          [disabled]="loading"
          (ionChange)="selectLot()"
        >
          <ng-container *ngFor="let lot of lots">
            <ion-select-option [value]="lot.loteId"
              >{{lot.loteId}}</ion-select-option
            >
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="lot.errors">Por favor ingrese un lote</ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Producto*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccione un producto"
          formControlName="product"
          [disabled]="loading"
        >
          <ng-container *ngFor="let product of products">
            <ion-select-option [value]="product.rawMaterialId"
              >{{product.nameMaterial}}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="product.errors">Por seleccione un producto</ion-label>
    </div>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Fecha de terminacion*</ion-label>
        <ion-datetime
          class="item-form"
          placeholder="Ingresar fecha"
          displayFormat="MM/DD/YYYY"
          formControlName="date"
        >
        </ion-datetime>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label *ngIf="date.errors">Por seleccione la fecha</ion-label>
    </div>
  </form>
  <ion-grid class="footer">
    <ion-row class="row-stepper">
      <ion-col>
        <app-stepper #stepperTag></app-stepper>
      </ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-button
        class="next-button"
        [disabled]="!stepperTag.getStep(1)"
        (click)="requestCloseLot()"
      >
        <ion-grid>
          <ion-row *ngIf="!loading">
            <ion-col size="12">
              Cerrar lote
            </ion-col>
          </ion-row>
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </ion-grid>
      </ion-button>
    </ion-row>
  </ion-grid>
</div>
