<app-header [header]="header" path="/menu"></app-header>
<ion-content>
  <ion-grid class="container">
    <ion-row>
      <h1 class="title">Información principal</h1>
    </ion-row>
    <ion-row>
      <h1 class="subtitle">Salida</h1>
    </ion-row>
    <ion-row>
      <ion-col class="body">
        <app-form-exit #form></app-form-exit>
      </ion-col>
    </ion-row>
    <div class="footer">
      <ion-row class="row-stepper">
        <ion-col size="12"><app-stepper #stepperTag></app-stepper></ion-col>
      </ion-row>
      <ion-row class="row-button">
        <ion-button
          class="next-button"
          [disabled]="!stepperTag.getStep(0)|| loading"
          (click)="form.onSubmit()"
        >
          <ion-grid>
            <ion-row *ngIf="!loading">
              <ion-col size="10">
                Guardar el registro
              </ion-col>
              <ion-col size="2">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          </ion-grid>
        </ion-button>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
